{% extends "layout.html" %}
{% block body %}
    <section class="hero is-info is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Welcome</h1>
                <p class="subtitle">Find your favourite book in our database</p>
            </div>
        </div>

    <div> 
        <span class="res">Have you <a href="/login">login yet?</a></span>
    </div>

    <div>
        <span class="res">Have you <a href="/register">Register yet?</a></span>
    </div>
    </section>
{% endblock %}